<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <table
      style="
        font-family: Poppins, Lato, Arial, Helvetica, sans-serif;
        font-size: 13px;
        max-width: 600px;
      "
      cellspacing="0"
      cellpadding="0"
      align="center"
      width="600px"
    >
      <tr>
        <td
          style="
            max-width: 600px;
            border: solid;
            border-width: 1px;
            border-color: #e6e6e6;
            border-radius: 2px;
          "
        >
          <table
            align="center"
            cellpadding="0"
            cellspacing="0"
            width="100%"
            style="background-color: #ffffff; max-width: 600px; border-color: #e6e6e6"
          >
            <tr>
              <td align="center">
                <img
                  style="max-width: 100%; max-height: 100%"
                  src="https://image.ibb.co/htVJM9/forgot_password_image.png"
                  alt="password_image"
                  border="0"
                />
              </td>
            </tr>
            <tr>
              <td
                style="font-size: 30px; font-weight: bold; padding: 20px 0 10px 0; cursor: pointer"
                align="center"
              >
                Reset Password
              </td>
            </tr>
            <tr>
              <td>
                <table>
                  <tr>
                    <td style="padding: 20px 0 8px 24px; font-weight: 600">Hai, {{.email}}</td>
                  </tr>
                  <tr>
                    <td style="padding: 0 24px 16px 24px">
                      Jangan khawatir jika kamu lupa dengan password mu. Kamu dapat menggunakan akun
                      ini kembali setelah melakukan reset password melalui tombol dibawah ini.
                      Perhatikan bahwa tautan ini hanya berlaku selama
                      <span style="font-weight: 600">15 menit</span> saja.
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td style="padding: 0 30% 24px 30%">
                <a href="{{.base_url}}/auth/forgot-password?token={{.token}}" target="_blank">
                  <button
                    width="30%"
                    style="
                      padding: 12px 2px 12px 2px;
                      text-align: center;
                      font-size: 16px;
                      letter-spacing: 1px;
                      border-radius: 4px;
                      min-width: 250px;
                      background-color: #02bde8;
                      outline: none;
                      border: none;
                      color: white;
                      text-decoration: none;
                      font-family: Helvetica;
                      font-weight: 600;
                      cursor: pointer;
                    "
                  >
                    Reset Password
                  </button>
                </a>
              </td>
            </tr>
            <tr>
              <td>
                <table>
                  <tr>
                    <td style="padding: 0 0 0 24px">
                      Kamu juga bisa menggunakan tautan dibawah untuk reset password.
                    </td>
                  </tr>
                  <tr>
                    <td style="padding: 0 0 16px 24px">
                      <table>
                        <tr>
                          <td style="word-break: break-all" width="80%">
                            <a
                              href="{{.base_url}}/auth/forgot-password?token={{.token}}"
                              target="_blank"
                            >
                              {{.base_url}}/auth/forgot-password?token={{.token}}
                            </a>
                          </td>
                        </tr>
                      </table>
                    </td>
                    <td></td>
                  </tr>
                  <tr>
                    <td style="padding: 0 0 0 24px">Regards,</td>
                  </tr>
                  <tr>
                    <td style="padding: 0 0 24px 24px; font-weight: 500">REKSI PNC</td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td style="padding: 12px 12px 12px 24px; font-size: 11px" bgcolor="#f7f7f7">
                Have any queries regarding this email?
                <a href="https://www.google.com">Reach out to us here</a>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
