<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html style="margin: 0; padding: 0">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body
    class="clean-body"
    style="
      margin: 8px;
      padding: 0 28% 0 28%;
      -webkit-text-size-adjust: 100%;
      background-color: #ffffff;
    "
  >
    <div
      class="nl-container"
      style="min-width: 320px; margin: 0 auto; background-color: #ffffff; border: 1px solid #e6e6e6"
    >
      <div style="background-color: #ffffff; width: 100%; margin: 0 auto">
        <div style="background-color: transparent; width: 100% !important">
          <div
            style="
              border-top: 0px solid transparent;
              border-left: 0px solid transparent;
              border-bottom: 0px solid transparent;
              border-right: 0px solid transparent;
              padding-top: 20px;
              padding-bottom: 0px;
              padding-right: 0px;
              padding-left: 0px;
            "
          >
            <div align="center">
              <img
                align="center"
                border="0"
                src="https://res.cloudinary.com/dxhv9xlwc/image/upload/v1683409867/assets/Politeknik_Negeri_Cilacap_r7erqo.png"
                alt="Image"
                title="Image"
                style="
                  outline: none;
                  text-decoration: none;
                  -ms-interpolation-mode: bicubic;
                  clear: both;
                  display: block !important;
                  border: none;
                  height: auto;
                  float: none;
                  margin: 0 auto;
                "
                width="64"
              />
              <div style="line-height: 10px; font-size: 1px">&nbsp;</div>
            </div>
          </div>
        </div>
      </div>
      <div style="background-color: #323341">
        <div
          style="
            margin: 0 16px;
            min-width: 320px;
            overflow-wrap: break-word;
            word-wrap: break-word;
            word-break: break-word;
            background-color: transparent;
          "
          class="block-grid"
        >
          <div style="border-collapse: collapse; display: table; width: 100%">
            <div style="min-width: 320px; background-color: transparent">
              <div style="background-color: transparent; width: 100% !important">
                <div
                  style="
                    border-top: 0px solid transparent;
                    border-left: 0px solid transparent;
                    border-bottom: 0px solid transparent;
                    border-right: 0px solid transparent;
                    padding: 24px 0 0 0;
                  "
                >
                  <div>
                    <div
                      style="
                        font-size: 12px;
                        line-height: 18px;
                        color: #b8b8c0;
                        font-family: 'Roboto', Tahoma, Verdana, Segoe, sans-serif;
                        text-align: left;
                      "
                    >
                      <p
                        style="
                          margin: 0;
                          font-size: 14px;
                          line-height: 21px;
                          text-align: justify;
                          font-family: 'Roboto', Tahoma, Verdana, Segoe, sans-serif;
                        "
                      >
                        Maaf, pesan ini untuk memberitahukan bahwa kami menemui beberapa masalah
                        dalam upaya pengunggahan karya tulis ilmiah milik kamu. Kami sangat mengerti
                        usaha dan dedikasi yang telah kamu berikan.
                      </p>

                      <p
                        style="
                          margin: 12px 0 0 0;
                          font-size: 14px;
                          line-height: 21px;
                          font-family: 'Roboto', Tahoma, Verdana, Segoe, sans-serif;
                        "
                      >
                        Berikut adalah detail karya tulis ilmiah yang telah kamu unggah:
                      </p>

                      <div
                        style="
                          margin: 12px 0 0 0;
                          font-size: 14px;
                          font-family: 'Roboto', Tahoma, Verdana, Segoe, sans-serif;
                        "
                      >
                        <p style="margin: 0 0 4px 0"><strong>Judul:</strong> {{.title}}</p>
                        <p style="margin: 0 0 4px 0"><strong>Penulis:</strong> {{.authors}}</p>
                        <p style="margin: 0 0 4px 0"><strong>Koleksi:</strong> {{.collection}}</p>
                        <p style="margin: 0 0 4px 0"><strong>Kategori:</strong> {{.category}}</p>
                        <p style="margin: 0 0 4px 0"><strong>Jurusan:</strong> {{.departement}}</p>
                        <p style="margin: 0 0 4px 0">
                          <strong>Tanggal Divalidasi:</strong> {{.date_validated}}
                        </p>
                      </div>

                      <p
                        style="
                          margin: 12px 0 0 0;
                          font-size: 14px;
                          line-height: 21px;
                          font-family: 'Roboto', Tahoma, Verdana, Segoe, sans-serif;
                        "
                      >
                        Agar karya tulis kamu dapat diterima di masa depan, kami sarankan untuk
                        memperhatikan beberapa hal berikut:
                      </p>

                      <ol style="padding-left: 16px">
                        <li
                          style="
                            margin: 12px 0 0 0;
                            font-size: 14px;
                            line-height: 21px;
                            font-family: 'Roboto', Tahoma, Verdana, Segoe, sans-serif;
                          "
                        >
                          Pastikan karya tulis ilmiah kamu mengikuti format penulisan yang sesuai.
                          Periksa pedoman penulisan ilmiah, seperti tata bahasa, struktur, kutipan,
                          dan referensi agar sesuai dengan standar yang berlaku.
                        </li>
                        <li
                          style="
                            margin: 12px 0 0 0;
                            font-size: 14px;
                            line-height: 21px;
                            font-family: 'Roboto', Tahoma, Verdana, Segoe, sans-serif;
                          "
                        >
                          Pastikan kamu telah memilih koleksi, kategori, dan jurusan yang sesuai
                          dengan topik dan bidang karya tulis ilmiah kamu. Pemilihan yang tepat akan
                          membantu kami dalam mengkategorikan dan menemukan karya tulis kamu dengan
                          lebih baik.
                        </li>
                        <li
                          style="
                            margin: 12px 0 0 0;
                            font-size: 14px;
                            line-height: 21px;
                            font-family: 'Roboto', Tahoma, Verdana, Segoe, sans-serif;
                          "
                        >
                          Pastikan urutan pengungahan file sesuai dengan instruksi yang diberikan.
                          Periksa kembali langkah-langkah yang telah kami sampaikan untuk mengunggah
                          karya tulis ilmiah agar tidak terjadi kekeliruan.
                        </li>
                      </ol>
                    </div>
                  </div>
                  <div
                    style="
                      padding-right: 10px;
                      padding-left: 10px;
                      padding-top: 0px;
                      padding-bottom: 10px;
                    "
                  >
                    <div
                      style="
                        font-size: 12px;
                        line-height: 18px;
                        color: #b8b8c0;
                        font-family: 'Roboto', Tahoma, Verdana, Segoe, sans-serif;
                        text-align: left;
                      "
                    >
                      <p style="margin: 0; font-size: 14px; line-height: 21px; text-align: right">
                        <br />
                        Salam hangat!
                        <br />
                        <span style="font-weight: 600; font-size: 16px">REKSI PNC</span>
                      </p>
                      <p style="margin: 0; font-size: 14px; line-height: 21px; text-align: right">
                        &nbsp;<br />
                      </p>
                    </div>
                  </div>

                  <div
                    align="center"
                    class="img-container center fullwidth"
                    style="padding-right: 0px; padding-left: 0px"
                  >
                    <a href="{{.base_url}}" target="_blank">
                      <img
                        align="center"
                        border="0"
                        src="https://res.cloudinary.com/dxhv9xlwc/image/upload/v1684640752/assets/blast-off_z0yxy4.png"
                        alt="blast off"
                        title="blast off"
                        style="
                          outline: none;
                          text-decoration: none;
                          -ms-interpolation-mode: bicubic;
                          clear: both;
                          display: block !important;
                          border: none;
                          height: auto;
                          float: none;
                          width: 100%;
                          max-width: 500px;
                        "
                        width="500"
                      />
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div style="background-color: #e7e7e7">
        <div
          style="
            margin: 0 auto;
            min-width: 320px;
            max-width: 500px;
            width: 500px;
            overflow-wrap: break-word;
            word-wrap: break-word;
            word-break: break-word;
            background-color: transparent;
          "
          class="block-grid"
        >
          <div style="border-collapse: collapse; display: table; width: 100%">
            <div
              class="col num12"
              style="
                min-width: 320px;
                max-width: 500px;
                width: 500px;
                background-color: transparent;
              "
            >
              <div style="background-color: transparent; width: 100% !important">
                <div
                  style="
                    border-top: 0px solid transparent;
                    border-left: 0px solid transparent;
                    border-bottom: 0px solid transparent;
                    border-right: 0px solid transparent;
                    padding-top: 30px;
                    padding-bottom: 30px;
                    padding-right: 0px;
                    padding-left: 0px;
                  "
                >
                  <div>
                    <div
                      style="
                        font-size: 12px;
                        color: #999;
                        font-family: 'Roboto', Tahoma, Verdana, Segoe, sans-serif;
                        text-align: left;
                      "
                    >
                      <p style="margin: 0; font-size: 14px; line-height: 21px; text-align: center">
                        If you did not make this request, please contact us by replying to this
                        email.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
