<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>

  <body style="color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); box-sizing: border-box">
    <div>
      <div style="clear: both">
        <p style="margin-top: 0pt; margin-bottom: 0pt; line-height: normal">
          <span style="width: 129.75pt; display: inline-block">&nbsp;</span>
        </p>
      </div>
      <p
        style="
          margin-top: 0pt;
          margin-left: 42.55pt;
          margin-bottom: 0pt;
          text-align: center;
          line-height: 115%;
          font-size: 15pt;
        "
      >
        <span style="height: 0pt; text-align: left; display: block; position: absolute; z-index: 0"
          ><img
            src="https://myfiles.space/user_files/139932_47b5885339da3eed/1683548029_soal-uts-kewirausahaan-ti-3a-d/1683548029_soal-uts-kewirausahaan-ti-3a-d-1.png"
            width="99"
            height="99"
            alt="D:\Data Jurusan TM\UTS & UAS\logo-150x150.png"
            style="margin: 0 0 0 auto; display: block" /></span
        ><span style="font-family: 'Times New Roman'; color: #2d2d2d">&nbsp;&nbsp;&nbsp;</span
        ><strong
          ><span style="font-family: 'Times New Roman'; color: #2d2d2d">KEMENTERIAN</span></strong
        ><strong
          ><span style="font-family: 'Times New Roman'; letter-spacing: -1.85pt; color: #2d2d2d"
            >&nbsp;</span
          ></strong
        ><strong
          ><span style="font-family: 'Times New Roman'; color: #2d2d2d"
            >PENDIDIKAN DAN KEBUDAYAAN&nbsp;</span
          ></strong
        >
      </p>
      <p
        style="
          margin-top: 0pt;
          margin-left: 42.55pt;
          margin-bottom: 0pt;
          text-align: center;
          line-height: 115%;
          font-size: 15pt;
        "
      >
        <strong
          ><span style="font-family: 'Times New Roman'; color: #2d2d2d"
            >RISET DAN TEKNOLOGI</span
          ></strong
        >
      </p>
      <h1
        style="
          margin-top: 0pt;
          margin-left: 42.55pt;
          margin-bottom: 0pt;
          text-align: center;
          line-height: 115%;
          widows: 0;
          orphans: 0;
          font-size: 12.5pt;
        "
      >
        <span style="font-family: 'Times New Roman'; font-weight: normal; color: #2d2d2d"
          >Jalan</span
        ><span
          style="
            font-family: 'Times New Roman';
            font-weight: normal;
            letter-spacing: -1.85pt;
            color: #2d2d2d;
          "
          >&nbsp;</span
        ><span style="font-family: 'Times New Roman'; font-weight: normal; color: #2d2d2d"
          >Dr.Soetomo</span
        ><span
          style="
            font-family: 'Times New Roman';
            font-weight: normal;
            letter-spacing: -1.3pt;
            color: #2d2d2d;
          "
          >&nbsp;</span
        ><span style="font-family: 'Times New Roman'; font-weight: normal; color: #2d2d2d"
          >No.1,</span
        ><span
          style="
            font-family: 'Times New Roman';
            font-weight: normal;
            letter-spacing: -1.75pt;
            color: #2d2d2d;
          "
          >&nbsp;</span
        ><span style="font-family: 'Times New Roman'; font-weight: normal; color: #2d2d2d"
          >Sidakaya-CILACAP</span
        ><span
          style="
            font-family: 'Times New Roman';
            font-weight: normal;
            letter-spacing: -2.1pt;
            color: #2d2d2d;
          "
          >&nbsp;</span
        ><span style="font-family: 'Times New Roman'; font-weight: normal; color: #2d2d2d"
          >53212</span
        ><span
          style="
            font-family: 'Times New Roman';
            font-weight: normal;
            letter-spacing: -1.7pt;
            color: #2d2d2d;
          "
          >&nbsp;</span
        ><span style="font-family: 'Times New Roman'; font-weight: normal; color: #2d2d2d"
          >Jawa</span
        ><span
          style="
            font-family: 'Times New Roman';
            font-weight: normal;
            letter-spacing: -1.8pt;
            color: #2d2d2d;
          "
          >&nbsp;</span
        ><span style="font-family: 'Times New Roman'; font-weight: normal; color: #2d2d2d"
          >Tengah&nbsp;</span
        >
      </h1>
      <h1
        style="
          margin-top: 0pt;
          margin-left: 42.55pt;
          margin-bottom: 0pt;
          text-align: center;
          line-height: 115%;
          widows: 0;
          orphans: 0;
          font-size: 12.5pt;
        "
      >
        <span style="font-family: 'Times New Roman'; font-weight: normal; color: #2d2d2d"
          >Telepon (0282) 533329 Faksimile (0282)</span
        ><span
          style="
            font-family: 'Times New Roman';
            font-weight: normal;
            letter-spacing: -0.35pt;
            color: #2d2d2d;
          "
          >&nbsp;</span
        ><span style="font-family: 'Times New Roman'; font-weight: normal; color: #2d2d2d"
          >537992</span
        >
      </h1>
      <p
        style="
          margin-top: 0pt;
          margin-left: 42.55pt;
          margin-bottom: 0pt;
          text-align: center;
          line-height: 115%;
          font-size: 12.5pt;
        "
      >
        <a href="http://www.politeknikcilacap.ac.id/" style="text-decoration: none"
          ><span style="font-family: 'Times New Roman'; color: #2d2d2d"
            >Laman:www.pnc.ac.id&nbsp;</span
          ></a
        ><a href="mailto:po1tec@politeknikci1acap.ac.id" style="text-decoration: none"
          ><span style="font-family: 'Times New Roman'; color: #2d2d2d"
            >Email:sekretariat@pnc.ac.id</span
          ></a
        >
      </p>
      <span
        style="
          margin-top: 0.55pt;
          margin-bottom: 0pt;
          line-height: 115%;
          width: 80%;
          height: 2.1px;
          widows: 0;
          orphans: 0;
          font-size: 5.5pt;
        "
      >
        <hr />
      </span>
      <p
        style="
          margin-top: 0.55pt;
          margin-bottom: 0pt;
          text-align: center;
          line-height: 150%;
          widows: 0;
          orphans: 0;
          font-size: 14pt;
        "
      >
        <strong
          ><span style="font-family: Arial; text-transform: uppercase"
            >SURAT KETERANGAN PENYERAHAN {{.collection}}</span
          ></strong
        >
      </p>
      <p
        style="
          margin-top: 0.55pt;
          margin-bottom: 0pt;
          text-align: center;
          line-height: 150%;
          widows: 0;
          orphans: 0;
          font-size: 14pt;
        "
      >
        <strong
          ><span style="font-family: Arial"
            >Nomor : ............/PL43.D04/TA.01.04/2023</span
          ></strong
        >
      </p>
      <p
        style="
          margin-top: 0.55pt;
          margin-bottom: 0pt;
          text-align: center;
          line-height: 150%;
          widows: 0;
          orphans: 0;
          font-size: 14pt;
        "
      >
        <strong><span style="font-family: Arial">&nbsp;</span></strong>
      </p>
      <div>
        <p
          style="
            margin-top: 0.55pt;
            margin-bottom: 0pt;
            line-height: 150%;
            widows: 0;
            orphans: 0;
            font-size: 12pt;
          "
        >
          <span style="font-family: Arial"
            >Dengan ini Perpustakaan Politeknik Negeri Cilacap menyatakan bahwa :</span
          >
        </p>
        <table cellspacing="0" cellpadding="0" style="border-collapse: collapse">
          <tbody>
            <tr>
              <td
                style="
                  width: 79.65pt;
                  padding-right: 5.4pt;
                  padding-left: 5.4pt;
                  vertical-align: top;
                "
              >
                <p
                  style="
                    margin-top: 0.55pt;
                    margin-bottom: 0pt;
                    line-height: 150%;
                    widows: 0;
                    orphans: 0;
                    font-size: 12pt;
                  "
                >
                  <span style="font-family: Arial">Nama</span>
                </p>
              </td>
              <td
                style="width: 3.4pt; padding-right: 5.4pt; padding-left: 5.4pt; vertical-align: top"
              >
                <p
                  style="
                    margin-top: 0.55pt;
                    margin-bottom: 0pt;
                    line-height: 150%;
                    widows: 0;
                    orphans: 0;
                    font-size: 12pt;
                  "
                >
                  <span style="font-family: Arial">:</span>
                </p>
              </td>
              <td
                style="
                  width: 279.8pt;
                  padding-right: 5.4pt;
                  padding-left: 5.4pt;
                  vertical-align: top;
                "
              >
                <p
                  style="
                    margin-top: 0.55pt;
                    margin-bottom: 0pt;
                    line-height: 150%;
                    widows: 0;
                    orphans: 0;
                    font-size: 12pt;
                  "
                >
                  <span style="font-family: Arial">{{.fullname}}</span>
                </p>
              </td>
            </tr>
            <tr>
              <td
                style="
                  width: 79.65pt;
                  padding-right: 5.4pt;
                  padding-left: 5.4pt;
                  vertical-align: top;
                "
              >
                <p
                  style="
                    margin-top: 0.55pt;
                    margin-bottom: 0pt;
                    line-height: 150%;
                    widows: 0;
                    orphans: 0;
                    font-size: 12pt;
                  "
                >
                  <span style="font-family: Arial">NPM</span>
                </p>
              </td>
              <td
                style="width: 3.4pt; padding-right: 5.4pt; padding-left: 5.4pt; vertical-align: top"
              >
                <p
                  style="
                    margin-top: 0.55pt;
                    margin-bottom: 0pt;
                    line-height: 150%;
                    widows: 0;
                    orphans: 0;
                    font-size: 12pt;
                  "
                >
                  <span style="font-family: Arial">:</span>
                </p>
              </td>
              <td
                style="
                  width: 279.8pt;
                  padding-right: 5.4pt;
                  padding-left: 5.4pt;
                  vertical-align: top;
                "
              >
                <p
                  style="
                    margin-top: 0.55pt;
                    margin-bottom: 0pt;
                    line-height: 150%;
                    widows: 0;
                    orphans: 0;
                    font-size: 12pt;
                  "
                >
                  <span style="font-family: Arial">{{.identityNumber}}</span>
                </p>
              </td>
            </tr>
            <tr>
              <td
                style="
                  width: 79.65pt;
                  padding-right: 5.4pt;
                  padding-left: 5.4pt;
                  vertical-align: top;
                "
              >
                <p
                  style="
                    margin-top: 0.55pt;
                    margin-bottom: 0pt;
                    line-height: 150%;
                    widows: 0;
                    orphans: 0;
                    font-size: 12pt;
                  "
                >
                  <span style="font-family: Arial">Jurusan</span>
                </p>
              </td>
              <td
                style="width: 3.4pt; padding-right: 5.4pt; padding-left: 5.4pt; vertical-align: top"
              >
                <p
                  style="
                    margin-top: 0.55pt;
                    margin-bottom: 0pt;
                    line-height: 150%;
                    widows: 0;
                    orphans: 0;
                    font-size: 12pt;
                  "
                >
                  <span style="font-family: Arial">:</span>
                </p>
              </td>
              <td
                style="
                  width: 279.8pt;
                  padding-right: 5.4pt;
                  padding-left: 5.4pt;
                  vertical-align: top;
                "
              >
                <p
                  style="
                    margin-top: 0.55pt;
                    margin-bottom: 0pt;
                    line-height: 150%;
                    widows: 0;
                    orphans: 0;
                    font-size: 12pt;
                  "
                >
                  <span style="font-family: Arial">{{.programStudy}}</span>
                </p>
              </td>
            </tr>
          </tbody>
        </table>
        <p
          style="
            margin-top: 0.55pt;
            margin-bottom: 0pt;
            line-height: 150%;
            widows: 0;
            orphans: 0;
            font-size: 12pt;
          "
        >
          <span style="font-family: Arial">&nbsp;</span>
        </p>
        <p
          style="
            margin-top: 0.55pt;
            margin-bottom: 0pt;
            line-height: 150%;
            widows: 0;
            orphans: 0;
            font-size: 12pt;
          "
        >
          <span style="font-family: Arial">Telah menyerahkan {{.collection}} dengan judul :</span>
        </p>
        <p
          style="
            margin-top: 0.55pt;
            margin-bottom: 0pt;
            line-height: 150%;
            widows: 0;
            orphans: 0;
            font-size: 12pt;
          "
        >
          <strong><span style="font-family: Arial">&ldquo;{{.title}}&rdquo;</span></strong>
        </p>
        <p
          style="
            margin-top: 0.55pt;
            margin-bottom: 0pt;
            line-height: 150%;
            widows: 0;
            orphans: 0;
            font-size: 12pt;
          "
        >
          <strong><span style="font-family: Arial">&nbsp;</span></strong>
        </p>
        <p
          style="
            margin-top: 0.55pt;
            margin-bottom: 0pt;
            line-height: 150%;
            widows: 0;
            orphans: 0;
            font-size: 12pt;
          "
        >
          <span style="font-family: Arial">Telah dilakukan pengecekan berkas yaitu :</span>
        </p>
        <table
          cellspacing="0"
          cellpadding="0"
          style="margin-right: 9pt; margin-left: 9pt; border-collapse: collapse; float: left"
        >
          <tbody>
            <tr>
              <td
                style="
                  width: 122.2pt;
                  padding-right: 5.4pt;
                  padding-left: 5.4pt;
                  vertical-align: top;
                "
              >
                <p
                  style="
                    margin-top: 0.55pt;
                    margin-bottom: 0pt;
                    line-height: 150%;
                    widows: 0;
                    orphans: 0;
                    font-size: 12pt;
                  "
                >
                  <span style="font-family: Arial">E-Prints</span>
                </p>
              </td>
              <td
                style="
                  width: 3.35pt;
                  padding-right: 5.4pt;
                  padding-left: 5.4pt;
                  vertical-align: top;
                "
              >
                <p
                  style="
                    margin-top: 0.55pt;
                    margin-bottom: 0pt;
                    line-height: 150%;
                    widows: 0;
                    orphans: 0;
                    font-size: 12pt;
                  "
                >
                  <span style="font-family: Arial">:</span>
                </p>
              </td>
              <td
                style="
                  width: 88.45pt;
                  padding-right: 5.4pt;
                  padding-left: 5.4pt;
                  vertical-align: top;
                "
              >
                <p
                  style="
                    margin-top: 0.55pt;
                    margin-bottom: 0pt;
                    line-height: 150%;
                    widows: 0;
                    orphans: 0;
                    font-size: 12pt;
                  "
                >
                  <span style="font-family: Arial">Sudah Lengkap</span>
                </p>
              </td>
            </tr>
            <tr>
              <td
                style="
                  width: 122.2pt;
                  padding-right: 5.4pt;
                  padding-left: 5.4pt;
                  vertical-align: top;
                "
              >
                <p
                  style="
                    margin-top: 0.55pt;
                    margin-bottom: 0pt;
                    line-height: 150%;
                    widows: 0;
                    orphans: 0;
                    font-size: 12pt;
                  "
                >
                  <span style="font-family: Arial">Berkas Laporan</span>
                </p>
              </td>
              <td
                style="
                  width: 3.35pt;
                  padding-right: 5.4pt;
                  padding-left: 5.4pt;
                  vertical-align: top;
                "
              >
                <p
                  style="
                    margin-top: 0.55pt;
                    margin-bottom: 0pt;
                    line-height: 150%;
                    widows: 0;
                    orphans: 0;
                    font-size: 12pt;
                  "
                >
                  <span style="font-family: Arial">:</span>
                </p>
              </td>
              <td
                style="
                  width: 88.45pt;
                  padding-right: 5.4pt;
                  padding-left: 5.4pt;
                  vertical-align: top;
                "
              >
                <p
                  style="
                    margin-top: 0.55pt;
                    margin-bottom: 0pt;
                    line-height: 150%;
                    widows: 0;
                    orphans: 0;
                    font-size: 12pt;
                  "
                >
                  <span style="font-family: Arial">..........................</span>
                </p>
              </td>
            </tr>
            <tr>
              <td
                style="
                  width: 122.2pt;
                  padding-right: 5.4pt;
                  padding-left: 5.4pt;
                  vertical-align: top;
                "
              >
                <p
                  style="
                    margin-top: 0.55pt;
                    margin-bottom: 0pt;
                    line-height: 150%;
                    widows: 0;
                    orphans: 0;
                    font-size: 12pt;
                  "
                >
                  <span style="font-family: Arial">CD Laporan</span>
                </p>
              </td>
              <td
                style="
                  width: 3.35pt;
                  padding-right: 5.4pt;
                  padding-left: 5.4pt;
                  vertical-align: top;
                "
              >
                <p
                  style="
                    margin-top: 0.55pt;
                    margin-bottom: 0pt;
                    line-height: 150%;
                    widows: 0;
                    orphans: 0;
                    font-size: 12pt;
                  "
                >
                  <span style="font-family: Arial">:</span>
                </p>
              </td>
              <td
                style="
                  width: 88.45pt;
                  padding-right: 5.4pt;
                  padding-left: 5.4pt;
                  vertical-align: top;
                "
              >
                <p
                  style="
                    margin-top: 0.55pt;
                    margin-bottom: 0pt;
                    line-height: 150%;
                    widows: 0;
                    orphans: 0;
                    font-size: 12pt;
                  "
                >
                  <span style="font-family: Arial">..........................</span>
                </p>
              </td>
            </tr>
            <tr>
              <td
                style="
                  width: 122.2pt;
                  padding-right: 5.4pt;
                  padding-left: 5.4pt;
                  vertical-align: top;
                "
              >
                <p
                  style="
                    margin-top: 0.55pt;
                    margin-bottom: 0pt;
                    line-height: 150%;
                    widows: 0;
                    orphans: 0;
                    font-size: 12pt;
                  "
                >
                  <span style="font-family: Arial">CD Video Produk</span>
                </p>
              </td>
              <td
                style="
                  width: 3.35pt;
                  padding-right: 5.4pt;
                  padding-left: 5.4pt;
                  vertical-align: top;
                "
              >
                <p
                  style="
                    margin-top: 0.55pt;
                    margin-bottom: 0pt;
                    line-height: 150%;
                    widows: 0;
                    orphans: 0;
                    font-size: 12pt;
                  "
                >
                  <span style="font-family: Arial">:</span>
                </p>
              </td>
              <td
                style="
                  width: 88.45pt;
                  padding-right: 5.4pt;
                  padding-left: 5.4pt;
                  vertical-align: top;
                "
              >
                <p
                  style="
                    margin-top: 0.55pt;
                    margin-bottom: 0pt;
                    line-height: 150%;
                    widows: 0;
                    orphans: 0;
                    font-size: 12pt;
                  "
                >
                  <span style="font-family: Arial">..........................</span>
                </p>
              </td>
            </tr>
            <tr>
              <td
                style="
                  width: 122.2pt;
                  padding-right: 5.4pt;
                  padding-left: 5.4pt;
                  vertical-align: top;
                "
              >
                <p
                  style="
                    margin-top: 0.55pt;
                    margin-bottom: 0pt;
                    line-height: 150%;
                    widows: 0;
                    orphans: 0;
                    font-size: 12pt;
                  "
                >
                  <span style="font-family: Arial">Poster (Opsional)</span>
                </p>
              </td>
              <td
                style="
                  width: 3.35pt;
                  padding-right: 5.4pt;
                  padding-left: 5.4pt;
                  vertical-align: top;
                "
              >
                <p
                  style="
                    margin-top: 0.55pt;
                    margin-bottom: 0pt;
                    line-height: 150%;
                    widows: 0;
                    orphans: 0;
                    font-size: 12pt;
                  "
                >
                  <span style="font-family: Arial">:</span>
                </p>
              </td>
              <td
                style="
                  width: 88.45pt;
                  padding-right: 5.4pt;
                  padding-left: 5.4pt;
                  vertical-align: top;
                "
              >
                <p
                  style="
                    margin-top: 0.55pt;
                    margin-bottom: 0pt;
                    line-height: 150%;
                    widows: 0;
                    orphans: 0;
                    font-size: 12pt;
                  "
                >
                  <span style="font-family: Arial">..........................</span>
                </p>
              </td>
            </tr>
          </tbody>
        </table>
        <p
          style="
            margin-top: 0.55pt;
            margin-bottom: 0pt;
            line-height: 150%;
            widows: 0;
            orphans: 0;
            font-size: 12pt;
          "
        >
          <span style="font-family: Arial">&nbsp;</span>
        </p>
        <p style="margin-top: 0pt; margin-bottom: 10pt">&nbsp;</p>
        <p style="margin-top: 0pt; margin-bottom: 10pt">&nbsp;</p>
        <p
          style="
            margin-top: 0.55pt;
            margin-bottom: 0pt;
            line-height: 150%;
            widows: 0;
            orphans: 0;
            font-size: 12pt;
          "
        >
          <span style="font-family: Arial">&nbsp;</span>
        </p>
        <p
          style="
            margin-top: 0.55pt;
            margin-bottom: 0pt;
            line-height: 150%;
            widows: 0;
            orphans: 0;
            font-size: 12pt;
          "
        >
          <span style="width: 76.2pt; font-family: Arial; display: inline-block">&nbsp;</span>
        </p>
        <p
          style="
            margin-top: 0.55pt;
            margin-bottom: 0pt;
            line-height: 150%;
            widows: 0;
            orphans: 0;
            font-size: 12pt;
          "
        >
          <br />
        </p>
        <p
          style="
            margin-top: 0.55pt;
            margin-bottom: 0pt;
            line-height: 150%;
            widows: 0;
            orphans: 0;
            font-size: 12pt;
          "
        >
          <span style="font-family: Arial"
            >Demikian keterangan ini dibuat untuk digunakan sebagaimana mestinya.</span
          >
        </p>
        <p
          style="
            margin-top: 0.55pt;
            margin-bottom: 0pt;
            line-height: 150%;
            widows: 0;
            orphans: 0;
            font-size: 12pt;
          "
        >
          <span style="font-family: Arial">&nbsp;</span>
        </p>
        <p
          style="
            margin-top: 0.55pt;
            margin-bottom: 0pt;
            line-height: 150%;
            widows: 0;
            orphans: 0;
            font-size: 12pt;
          "
        >
          <span style="font-family: Arial">&nbsp;</span>
        </p>
        <table
          cellspacing="0"
          cellpadding="0"
          style="margin-left: auto; border-collapse: collapse; width: 30%"
        >
          <tbody>
            <tr>
              <td
                style="
                  padding-right: 5.4pt;
                  padding-left: 5.4pt;
                  vertical-align: top;
                  text-align: center;
                "
              >
                <p
                  style="
                    margin-top: 0.55pt;
                    margin-bottom: 0pt;
                    line-height: 150%;
                    widows: 0;
                    orphans: 0;
                    font-size: 12pt;
                  "
                >
                  <span style="font-family: Arial">Cilacap, {{.dateIssued}}</span>
                </p>
                <p
                  style="
                    margin-top: 0.55pt;
                    margin-bottom: 0pt;
                    line-height: 150%;
                    widows: 0;
                    orphans: 0;
                    font-size: 12pt;
                  "
                >
                  <span style="font-family: Arial">Ka. UPT Perpustakaan</span>
                </p>
              </td>
            </tr>
            <tr style="height: 95.55pt">
              <td
                style="
                  width: 157.55pt;
                  padding-right: 5.4pt;
                  padding-left: 5.4pt;
                  vertical-align: top;
                  margin-right: auto;
                  margin-left: auto;
                "
              >
                <p
                  style="
                    margin-top: 0.55pt;
                    margin-bottom: 0pt;
                    text-align: right;
                    line-height: 150%;
                    widows: 0;
                    orphans: 0;
                    font-size: 12pt;
                    margin-right: auto;
                    margin-left: auto;
                  "
                ></p>
              </td>
            </tr>
            <tr>
              <td
                style="
                  width: 157.55pt;
                  padding-right: 5.4pt;
                  padding-left: 5.4pt;
                  vertical-align: top;
                "
              >
                <p
                  style="
                    margin-top: 0.55pt;
                    margin-bottom: 0pt;
                    text-align: center;
                    line-height: 150%;
                    widows: 0;
                    orphans: 0;
                    font-size: 12pt;
                  "
                >
                  <span style="font-family: Arial">{{.headOfLibrary}}</span>
                </p>
                <p
                  style="
                    margin-top: 0.55pt;
                    margin-bottom: 0pt;
                    text-align: center;
                    line-height: 150%;
                    widows: 0;
                    orphans: 0;
                    font-size: 12pt;
                  "
                >
                  <span style="font-family: Arial">NIP. {{.nip}}</span>
                </p>
              </td>
            </tr>
          </tbody>
        </table>
        <p
          style="
            margin-top: 0.55pt;
            margin-bottom: 0pt;
            text-align: right;
            line-height: 150%;
            widows: 0;
            orphans: 0;
            font-size: 12pt;
          "
        >
          <br /><span style="font-family: Arial">&nbsp;</span>
        </p>
      </div>
    </div>
  </body>
</html>
