<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <title> </title>
    <style>
      body {
        line-height: 115%;
        font-family: Calibri;
        font-size: 11pt;
      }

      h1,
      h3,
      p {
        margin: 0pt 0pt 10pt;
      }

      li,
      table {
        margin-top: 0pt;
        margin-bottom: 10pt;
      }

      h1 {
        margin-bottom: 0pt;
        page-break-inside: auto;
        page-break-after: auto;
        line-height: normal;
        widows: 0;
        orphans: 0;
        font-family: 'Times New Roman';
        font-size: 12.5pt;
        font-weight: normal;
        color: #000000;
      }

      h3 {
        margin-top: 2pt;
        margin-bottom: 0pt;
        page-break-inside: avoid;
        page-break-after: avoid;
        line-height: 115%;
        font-family: Cambria;
        font-size: 12pt;
        font-weight: normal;
        color: #243f60;
      }

      .BalloonText {
        margin-bottom: 0pt;
        line-height: normal;
        font-family: Tahoma;
        font-size: 8pt;
      }

      .BodyText {
        margin-bottom: 0pt;
        line-height: normal;
        widows: 0;
        orphans: 0;
        font-family: 'Bookman Old Style';
        font-size: 11pt;
      }

      .Default {
        margin-bottom: 0pt;
        line-height: normal;
        font-family: 'Bookman Old Style';
        font-size: 12pt;
        color: #000000;
      }

      .Footer {
        margin-bottom: 0pt;
        line-height: normal;
        font-size: 11pt;
      }

      .Header {
        margin-bottom: 0pt;
        line-height: normal;
        font-size: 11pt;
      }

      .ListParagraph {
        margin-left: 36pt;
        margin-bottom: 10pt;
        line-height: 115%;
        font-size: 11pt;
      }

      span.BalloonTextChar {
        font-family: Tahoma;
        font-size: 8pt;
      }

      span.BodyTextChar {
        font-family: 'Bookman Old Style';
      }

      span.Heading1Char {
        font-family: 'Times New Roman';
        font-size: 12.5pt;
      }

      span.Heading3Char {
        font-family: Cambria;
        font-size: 12pt;
        color: #243f60;
      }

      span.Hyperlink {
        text-decoration: underline;
        color: #0000ff;
      }

      span.Strong {
        font-weight: bold;
      }
    </style>
  </head>

  <body>
    <div>
      <div style="clear: both">
        <p class="Header"><span style="width: 129.75pt; display: inline-block">&nbsp;</span></p>
      </div>
      <p
        style="
          margin-left: 42.55pt;
          margin-bottom: 0pt;
          text-align: center;
          line-height: 115%;
          font-size: 15pt;
        "
      >
        <span style="height: 0pt; text-align: left; display: block; position: absolute; z-index: 0"
          ><img
            src="https://res.cloudinary.com/dxhv9xlwc/image/upload/v1683409867/assets/Politeknik_Negeri_Cilacap_r7erqo.png"
            width="99"
            height="99"
            alt="D:\Data Jurusan TM\UTS & UAS\logo-150x150.png"
            style="margin: 0 0 0 auto; display: block" /></span
        ><span style="font-family: 'Times New Roman'; color: #2d2d2d">&nbsp;&nbsp;&nbsp;</span
        ><strong
          ><span style="font-family: 'Times New Roman'; color: #2d2d2d">KEMENTERIAN</span></strong
        ><strong
          ><span style="font-family: 'Times New Roman'; letter-spacing: -1.85pt; color: #2d2d2d"
            >&nbsp;</span
          ></strong
        ><strong
          ><span style="font-family: 'Times New Roman'; color: #2d2d2d"
            >PENDIDIKAN DAN KEBUDAYAAN&nbsp;</span
          ></strong
        >
      </p>
      <p
        style="
          margin-left: 42.55pt;
          margin-bottom: 0pt;
          text-align: center;
          line-height: 115%;
          font-size: 15pt;
        "
      >
        <strong
          ><span style="font-family: 'Times New Roman'; color: #2d2d2d"
            >RISET DAN TEKNOLOGI</span
          ></strong
        >
      </p>
      <h1 style="margin-left: 42.55pt; text-align: center; line-height: 115%">
        <span style="color: #2d2d2d">Jalan</span
        ><span style="letter-spacing: -1.85pt; color: #2d2d2d">&nbsp;</span
        ><span style="color: #2d2d2d">Dr.Soetomo</span
        ><span style="letter-spacing: -1.3pt; color: #2d2d2d">&nbsp;</span
        ><span style="color: #2d2d2d">No.1,</span
        ><span style="letter-spacing: -1.75pt; color: #2d2d2d">&nbsp;</span
        ><span style="color: #2d2d2d">Sidakaya-CILACAP</span
        ><span style="letter-spacing: -2.1pt; color: #2d2d2d">&nbsp;</span
        ><span style="color: #2d2d2d">53212</span
        ><span style="letter-spacing: -1.7pt; color: #2d2d2d">&nbsp;</span
        ><span style="color: #2d2d2d">Jawa</span
        ><span style="letter-spacing: -1.8pt; color: #2d2d2d">&nbsp;</span
        ><span style="color: #2d2d2d">Tengah&nbsp;</span>
      </h1>
      <h1 style="margin-left: 42.55pt; text-align: center; line-height: 115%">
        <span style="color: #2d2d2d">Telepon (0282) 533329 Faksimile (0282)</span
        ><span style="letter-spacing: -0.35pt; color: #2d2d2d">&nbsp;</span
        ><span style="color: #2d2d2d">537992</span>
      </h1>
      <p
        style="
          margin-left: 42.55pt;
          margin-bottom: 0pt;
          text-align: center;
          line-height: 115%;
          font-size: 12.5pt;
        "
      >
        <a href="http://www.pnc.ac.id/" style="text-decoration: none"
          ><span style="font-family: 'Times New Roman'; color: #2d2d2d"
            >Laman:www.pnc.ac.id&nbsp;</span
          ></a
        ><a href="mailto:po1tec@politeknikci1acap.ac.id" style="text-decoration: none"
          ><span style="font-family: 'Times New Roman'; color: #2d2d2d"
            >Email:sekretariat@pnc.ac.id</span
          ></a
        >
      </p>
      <span
        style="
          margin-top: 0.55pt;
          margin-bottom: 0pt;
          line-height: 115%;
          width: 80%;
          height: 2.1px;
          widows: 0;
          orphans: 0;
          font-size: 5.5pt;
        "
      >
        <hr />
      </span>
      <p
        class="BodyText"
        style="margin-top: 0.55pt; text-align: center; line-height: 150%; font-size: 14pt"
      >
        <strong
          ><span style="font-family: Arial; text-transform: uppercase"
            >REKAP PENYERAHAN {{.collection}}</span
          ></strong
        >
      </p>
      {{if .yearGen}}
      <p
        class="BodyText"
        style="margin-top: 0.55pt; text-align: center; line-height: 150%; font-size: 14pt"
      >
        <strong><span style="font-family: Arial">TAHUN ANGKATAN {{.yearGen}}</span></strong>
      </p>
      {{else}}
      <p
        class="BodyText"
        style="margin-top: 0.55pt; text-align: center; line-height: 150%; font-size: 14pt"
      >
        <strong><span style="font-family: Arial">SEMUA TAHUN ANGKATAN</span></strong>
      </p>
      {{end}}
      <p
        class="BodyText"
        style="margin-top: 0.55pt; text-align: center; line-height: 150%; font-size: 14pt"
      >
        <strong><span style="font-family: Arial">&nbsp;</span></strong>
      </p>
      <table
        style="
          margin-bottom: 0pt;
          margin-right: auto;
          margin-left: auto;
          border: 0.75pt solid #000000;
          border-collapse: collapse;
        "
      >
        <tbody>
          <tr>
            <td
              style="
                width: 51.3pt;
                border-right: 0.75pt solid #000000;
                border-bottom: 0.75pt solid #000000;
                padding-right: 5.03pt;
                padding-left: 5.03pt;
                vertical-align: middle;
              "
            >
              <p
                class="BodyText"
                style="margin-top: 0.55pt; text-align: center; line-height: 150%; font-size: 12pt"
              >
                <strong><span style="font-family: Arial">No.</span></strong>
              </p>
            </td>
            <td
              style="
                width: 294pt;
                border-right: 0.75pt solid #000000;
                border-left: 0.75pt solid #000000;
                border-bottom: 0.75pt solid #000000;
                padding-right: 5.03pt;
                padding-left: 5.03pt;
                vertical-align: middle;
              "
            >
              <p
                class="BodyText"
                style="margin-top: 0.55pt; text-align: center; line-height: 150%; font-size: 12pt"
              >
                <strong><span style="font-family: Arial">Program Studi</span></strong>
              </p>
            </td>
            <td
              style="
                width: 143.35pt;
                border-left: 0.75pt solid #000000;
                border-bottom: 0.75pt solid #000000;
                padding-right: 5.03pt;
                padding-left: 5.03pt;
                vertical-align: middle;
              "
            >
              <p
                class="BodyText"
                style="margin-top: 0.55pt; text-align: center; line-height: 150%; font-size: 12pt"
              >
                <strong><span style="font-family: Arial">Sudah Mengumpulkan</span></strong>
              </p>
            </td>
            <td
              style="
                width: 143.35pt;
                border-left: 0.75pt solid #000000;
                border-bottom: 0.75pt solid #000000;
                padding-right: 5.03pt;
                padding-left: 5.03pt;
                vertical-align: middle;
              "
            >
              <p
                class="BodyText"
                style="margin-top: 0.55pt; text-align: center; line-height: 150%; font-size: 12pt"
              >
                <strong><span style="font-family: Arial">Belum Mengumpulkan</span></strong>
              </p>
            </td>
          </tr>

          {{range $index, $element := .reports}}
          <tr>
            <td
              style="
                width: 51.3pt;
                border-top: 0.75pt solid #000000;
                border-right: 0.75pt solid #000000;
                border-bottom: 0.75pt solid #000000;
                padding-right: 5.03pt;
                padding-left: 5.03pt;
                vertical-align: middle;
              "
            >
              <p
                class="BodyText"
                style="margin-top: 0.55pt; text-align: center; line-height: 150%; font-size: 12pt"
              >
                <span style="font-family: Arial">{{add $index 1}}.</span>
              </p>
            </td>
            <td
              style="
                width: 294pt;
                border: 0.75pt solid #000000;
                padding-right: 5.03pt;
                padding-left: 5.03pt;
                vertical-align: middle;
              "
            >
              <p class="BodyText" style="margin-top: 0.55pt; line-height: 150%; font-size: 12pt">
                <span style="font-family: Arial">{{$element.StudyProgram}}</span>
              </p>
            </td>
            <td
              style="
                width: 143.35pt;
                border-top: 0.75pt solid #000000;
                border-left: 0.75pt solid #000000;
                border-bottom: 0.75pt solid #000000;
                padding-right: 5.03pt;
                padding-left: 5.03pt;
                vertical-align: middle;
              "
            >
              <p
                class="BodyText"
                style="margin-top: 0.55pt; text-align: center; line-height: 150%; font-size: 12pt"
              >
                <span style="font-family: Arial">{{$element.PemustakaCount}}</span>
              </p>
            </td>
            <td
              style="
                width: 143.35pt;
                border-top: 0.75pt solid #000000;
                border-left: 0.75pt solid #000000;
                border-bottom: 0.75pt solid #000000;
                padding-right: 5.03pt;
                padding-left: 5.03pt;
                vertical-align: middle;
              "
            >
              <p
                class="BodyText"
                style="margin-top: 0.55pt; text-align: center; line-height: 150%; font-size: 12pt"
              >
                <span style="font-family: Arial"
                  >{{sub $element.TotalPemustakas $element.PemustakaCount}}</span
                >
              </p>
            </td>
          </tr>
          {{end}}
          <tr>
            <td
              colspan="2"
              style="
                width: 294pt;
                border: 0.75pt solid #000000;
                padding-right: 5.03pt;
                padding-left: 5.03pt;
                vertical-align: middle;
              "
            >
              <p
                class="BodyText"
                style="margin-top: 0.55pt; line-height: 150%; font-size: 12pt; text-align: center"
              >
                <span style="font-family: Arial">Total</span>
              </p>
            </td>
            <td
              style="
                width: 143.35pt;
                border-top: 0.75pt solid #000000;
                border-left: 0.75pt solid #000000;
                border-bottom: 0.75pt solid #000000;
                padding-right: 5.03pt;
                padding-left: 5.03pt;
                vertical-align: middle;
              "
            >
              <p
                class="BodyText"
                style="margin-top: 0.55pt; text-align: center; line-height: 150%; font-size: 12pt"
              >
                <span style="font-family: Arial">{{.totalCollected}}</span>
              </p>
            </td>
            <td
              style="
                width: 143.35pt;
                border-top: 0.75pt solid #000000;
                border-left: 0.75pt solid #000000;
                border-bottom: 0.75pt solid #000000;
                padding-right: 5.03pt;
                padding-left: 5.03pt;
                vertical-align: middle;
              "
            >
              <p
                class="BodyText"
                style="margin-top: 0.55pt; text-align: center; line-height: 150%; font-size: 12pt"
              >
                <span style="font-family: Arial">{{.totalNotCollected}}</span>
              </p>
            </td>
          </tr>
        </tbody>
      </table>
      <p class="BodyText" style="margin-top: 0.55pt; line-height: 150%; font-size: 12pt">
        <span style="font-family: Arial">&nbsp;</span>
      </p>
      <p class="BodyText" style="margin-top: 0.55pt; line-height: 150%; font-size: 12pt">
        <span style="font-family: Arial">&nbsp;</span>
      </p>
      <p class="BodyText" style="margin-top: 0.55pt; line-height: 150%; font-size: 12pt">
        <span style="font-family: Arial">&nbsp;</span>
      </p>
      <table style="margin-left: auto; margin-bottom: 0pt; border-collapse: collapse">
        <tbody>
          <tr>
            <td
              style="
                width: 157.55pt;
                padding-right: 5.4pt;
                padding-left: 5.4pt;
                vertical-align: top;
              "
            >
              <p
                class="BodyText"
                style="margin-top: 0.55pt; text-align: center; line-height: 150%; font-size: 12pt"
              >
                <span style="font-family: Arial">Cilacap, {{.dateIssued}}</span>
              </p>
              <p
                class="BodyText"
                style="margin-top: 0.55pt; text-align: center; line-height: 150%; font-size: 12pt"
              >
                <span style="font-family: Arial">Ka. UPT Perpustakaan</span>
              </p>
            </td>
          </tr>
          <tr style="height: 77.3pt">
            <td
              style="
                width: 157.55pt;
                padding-right: 5.4pt;
                padding-left: 5.4pt;
                vertical-align: top;
              "
            >
              <p
                class="BodyText"
                style="margin-top: 0.55pt; text-align: right; line-height: 150%; font-size: 12pt"
              >
                <span style="font-family: Arial">&nbsp;</span>
              </p>
            </td>
          </tr>
          <tr>
            <td
              style="
                width: 157.55pt;
                padding-right: 5.4pt;
                padding-left: 5.4pt;
                vertical-align: top;
              "
            >
              <p
                class="BodyText"
                style="margin-top: 0.55pt; text-align: center; line-height: 150%; font-size: 12pt"
              >
                <span style="font-family: Arial">{{.headOfLibrary}}</span>
              </p>
              <p
                class="BodyText"
                style="margin-top: 0.55pt; text-align: center; line-height: 150%; font-size: 12pt"
              >
                <span style="font-family: Arial">NIP. {{.nip}}</span>
              </p>
            </td>
          </tr>
        </tbody>
      </table>
      <p
        class="BodyText"
        style="margin-top: 0.55pt; text-align: right; line-height: 150%; font-size: 12pt"
      >
        <br /><span style="font-family: Arial">&nbsp;</span>
      </p>
    </div>
  </body>
</html>
