<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html style="margin: 0; padding: 0">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body
    class="clean-body"
    style="
      margin: 8px;
      padding: 0 28% 0 28%;
      -webkit-text-size-adjust: 100%;
      background-color: #ffffff;
    "
  >
    <div
      class="nl-container"
      style="min-width: 320px; margin: 0 auto; background-color: #ffffff; border: 1px solid #e6e6e6"
    >
      <div style="background-color: #ffffff; width: 100%; margin: 0 auto">
        <div style="background-color: transparent; width: 100% !important">
          <div
            style="
              border-top: 0px solid transparent;
              border-left: 0px solid transparent;
              border-bottom: 0px solid transparent;
              border-right: 0px solid transparent;
              padding-top: 20px;
              padding-bottom: 0px;
              padding-right: 0px;
              padding-left: 0px;
            "
          >
            <div align="center">
              <img
                align="center"
                border="0"
                src="https://res.cloudinary.com/dxhv9xlwc/image/upload/v1683409867/assets/Politeknik_Negeri_Cilacap_r7erqo.png"
                alt="Image"
                title="Image"
                style="
                  outline: none;
                  text-decoration: none;
                  -ms-interpolation-mode: bicubic;
                  clear: both;
                  display: block !important;
                  border: none;
                  height: auto;
                  float: none;
                  margin: 0 auto;
                "
                width="64"
              />
              <div style="line-height: 10px; font-size: 1px">&nbsp;</div>
            </div>
          </div>
        </div>
      </div>
      <div style="background-color: #323341">
        <div
          style="
            margin: 0 16px;
            min-width: 320px;
            overflow-wrap: break-word;
            word-wrap: break-word;
            word-break: break-word;
            background-color: transparent;
          "
          class="block-grid"
        >
          <div style="border-collapse: collapse; display: table; width: 100%">
            <div class="col num12" style="background-color: transparent">
              <div style="background-color: transparent; width: 100% !important">
                <div
                  style="
                    border-top: 0px solid transparent;
                    border-left: 0px solid transparent;
                    border-bottom: 0px solid transparent;
                    border-right: 0px solid transparent;
                    padding-top: 0px;
                    padding-bottom: 0px;
                    padding-right: 0px;
                    padding-left: 0px;
                  "
                >
                  <div
                    style="
                      font-size: 12px;
                      line-height: 14px;
                      color: #ffffff;
                      font-family: 'Roboto', Tahoma, Verdana, Segoe, sans-serif;
                      text-align: left;
                    "
                  >
                    <p
                      style="margin: 24px 0; font-size: 12px; line-height: 14px; text-align: center"
                    >
                      <span
                        style="
                          font-size: 20px;
                          line-height: 33px;
                          font-weight: 600;
                          font-family: 'Roboto', Tahoma, Verdana, Segoe, sans-serif;
                        "
                      >
                        Hore, akunmu telah terverifikasi!
                      </span>
                    </p>
                  </div>
                  <div>
                    <div
                      style="
                        font-size: 12px;
                        line-height: 18px;
                        color: #b8b8c0;
                        font-family: 'Roboto', Tahoma, Verdana, Segoe, sans-serif;
                        text-align: left;
                      "
                    >
                      <p
                        style="
                          margin: 0;
                          font-size: 14px;
                          line-height: 21px;
                          text-align: justify;
                          font-family: 'Roboto', Tahoma, Verdana, Segoe, sans-serif;
                        "
                      >
                        Akun kamu telah berhasil terverifikasi dan sekarang menjadi bagian dari
                        REKSI PNC. Selamat datang di dunia pengetahuan yang tak terbatas!
                      </p>

                      <p
                        style="
                          margin: 12px 0 0 0;
                          font-size: 14px;
                          line-height: 21px;
                          font-family: 'Roboto', Tahoma, Verdana, Segoe, sans-serif;
                        "
                      >
                        Berikut adalah data yang telah kamu berikan:
                      </p>

                      <div
                        style="
                          margin: 12px 0 0 0;
                          font-size: 14px;
                          font-family: 'Roboto', Tahoma, Verdana, Segoe, sans-serif;
                        "
                      >
                        <p style="margin: 0 0 4px 0">
                          <strong>Nama Lengkap:</strong> {{.fullname}}
                        </p>
                        <p style="margin: 0 0 4px 0"><strong>NIM:</strong> {{.identity_number}}</p>
                        <p style="margin: 0 0 4px 0"><strong>Jurusan:</strong> {{.departement}}</p>
                        <p style="margin: 0 0 4px 0">
                          <strong>Program Studi:</strong> {{.study_program}}
                        </p>
                        <p style="margin: 0 0 4px 0"><strong>Alamat Email:</strong> {{.email}}</p>
                        <p style="margin: 0 0 4px 0"><strong>Role:</strong> {{.role}}</p>
                        {{if .year_gen}}
                        <p style="margin: 0 0 4px 0">
                          <strong>Tahun Angkatan:</strong> {{.year_gen}}
                        </p>
                        {{end}}
                      </div>
                    </div>
                  </div>
                  <div
                    style="
                      padding-right: 10px;
                      padding-left: 10px;
                      padding-top: 0px;
                      padding-bottom: 10px;
                    "
                  >
                    <div
                      style="
                        font-size: 12px;
                        line-height: 18px;
                        color: #b8b8c0;
                        font-family: 'Roboto', Tahoma, Verdana, Segoe, sans-serif;
                        text-align: left;
                      "
                    >
                      <p style="margin: 0; font-size: 14px; line-height: 21px; text-align: right">
                        <br />
                        Salam hangat!
                        <br />
                        <span style="font-weight: 600; font-size: 16px">REKSI PNC</span>
                      </p>
                      <p style="margin: 0; font-size: 14px; line-height: 21px; text-align: right">
                        &nbsp;<br />
                      </p>
                    </div>
                  </div>

                  <div
                    align="center"
                    class="img-container center fullwidth"
                    style="padding-right: 0px; padding-left: 0px"
                  >
                    <a href="{{.base_url}}" target="_blank">
                      <img
                        align="center"
                        border="0"
                        src="https://res.cloudinary.com/dxhv9xlwc/image/upload/v1684640752/assets/blast-off_z0yxy4.png"
                        alt="blast off"
                        title="blast off"
                        style="
                          outline: none;
                          text-decoration: none;
                          -ms-interpolation-mode: bicubic;
                          clear: both;
                          display: block !important;
                          border: none;
                          height: auto;
                          float: none;
                          width: 100%;
                          max-width: 500px;
                        "
                        width="500"
                      />
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div style="background-color: #e7e7e7">
        <div
          style="
            margin: 0 auto;
            min-width: 320px;
            max-width: 500px;
            width: 500px;
            overflow-wrap: break-word;
            word-wrap: break-word;
            word-break: break-word;
            background-color: transparent;
          "
          class="block-grid"
        >
          <div style="border-collapse: collapse; display: table; width: 100%">
            <div
              class="col num12"
              style="
                min-width: 320px;
                max-width: 500px;
                width: 500px;
                background-color: transparent;
              "
            >
              <div style="background-color: transparent; width: 100% !important">
                <div
                  style="
                    border-top: 0px solid transparent;
                    border-left: 0px solid transparent;
                    border-bottom: 0px solid transparent;
                    border-right: 0px solid transparent;
                    padding-top: 30px;
                    padding-bottom: 30px;
                    padding-right: 0px;
                    padding-left: 0px;
                  "
                >
                  <div>
                    <div
                      style="
                        font-size: 12px;
                        color: #999;
                        font-family: 'Roboto', Tahoma, Verdana, Segoe, sans-serif;
                        text-align: left;
                      "
                    >
                      <p style="margin: 0; font-size: 14px; line-height: 21px; text-align: center">
                        If you did not make this request, please contact us by replying to this
                        email.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
